.md-header {
    background: #4D4D4D !important;
    color: #D85DA1;
}

.md-header-nav__topic {
    color: #FFF;
}

.md-header-nav__source {
    color: #FFF;
}

/* .md-nav {
    background: #3a3a3a
} */
