.md-header {
    background: #1E1E1E !important;
    color: #D85DA1;
}

.md-header-nav__topic {
    color: #FFF;
}

.md-header-nav__source {
    color: #FFF;
}

.md-search__input {
    color: #2C2B2B;
}

.md-search__input::placeholder {
    color: #635F5F;
}

.md-icon.md-search__icon {
    color: #e6007a;
}

.md-icon.md-icon--menu.md-header-nav__button {
    color: #e6007a;
}

.grandpa-img {
    width: 200px;
    float: right;
    text-align: center;
    margin: 6px;
    color: #4D4D4D;
}
