.md-header {
    background: #4D4D4D !important;
    color: #D85DA1;
}

.md-header-nav__topic {
    color: #FFF;
}

.md-header-nav__source {
    color: #FFF;
}

/* Style for the image in Cosmos comparison page */
/* img[alt="block production"] {
    width: 200px;
    float: right;
} */

.grandpa-img {
    width: 200px;
    float: right;
    text-align: center;
    margin: 6px;
    color: #4D4D4D;
}
